.items{
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 90%;
}

#image{
    display: inline-block;
    width:60px;
    height: 60px;
    padding-top: 20px;
}

#image:hover{
    width:25%;
    height:25%;
    
}

#item{
    width:50%
}

